html,
body,
div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
small,
strong,
pre,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
ul,
ol,
dl,
li,
dt,
dd,
object,
iframe,
canvas,
svg,
video,
audio,
figure,
img,
article,
section,
nav,
header,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font: inherit;
}
