@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "HancomMalangMalang", "NanumBarunGothic", "NotoSansCJKkr",
    sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.64px;
  color: #191919;
  word-break: keep-all;
}
/* 공통요소 */
.wrap {
  position: relative;
}
.inner {
  position: relative;
  max-width: 1800px;
  width: 100%;
  padding: 0 90px;
  margin: 0 auto;
}

/* 상단 */
.header {
  position: relative;
  width: 100%;
  min-width: 320px;
  z-index: 35;
}
.header .header-inner {
  position: relative;
  height: 87px;
  border-bottom: 1px solid rgba(149, 149, 149, 0.3);
  background-color: #fff;
  z-index: 21;
}
.header-inner .header-logo {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  width: 167px;
  z-index: 11;
}
.menu {
  position: relative;
  margin: 0 auto;
  width: 775px;
  height: 100%;
  z-index: 12;
}
.menu > ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu > ul > li {
  position: relative;
  height: 100%;
  text-align: left;
  padding: 0 15px;
  vertical-align: middle;
}
.out_link:after {
  display: block;
  content: "";
  position: absolute;
  top: 30px;
  right: 13px;
  right: -3px;
  width: 18px;
  height: 18px;
  background: url("/assets/images/outlink.svg") no-repeat center/contain;
}
.out_link:hover::after {
  background-image: url("/assets/images/outlink_hover.svg");
}

.menu-title {
  display: flex;
  height: 100%;
  align-items: center;
  font-family: "NotoSansCJKkr";
  font-size: 20px;
  color: #000;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: -0.04em;
  white-space: nowrap;
}
.menu-title:hover {
  color: #3bb149;
}
.menu-title:hover::after {
  display: block;
  content: "";
  position: absolute;
  top: 28px;
  right: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50vh;
  background-color: #3dc448;
}
.sub-menu {
  /* display: none; */
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 100%);
  background-color: #f9f9f9;
  border: solid 1px #e5e5e5;
  border-radius: 12px;
}
.lang {
  display: block;
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  z-index: 11;
}
.lang button {
  display: flex;
  align-items: center;
  padding: 12px;
  font-family: "NotoSansCJKkr";
  font-size: 16px;
  color: #000;
  font-weight: 700;
  line-height: 1.23;
  letter-spacing: -0.03em;
  background: #fff;
}
.lang button::after {
  margin-left: 5px;
  content: "";
  width: 12px;
  height: 12px;
  background: url("../assets/images/language.svg") no-repeat center/contain;
}
.menu-btn {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  width: 37px;
  height: 26px;
  z-index: 11;
}
.menu-btn button {
  position: relative;
  width: 100%;
  height: 100%;
}
.menu-btn button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/images/menu_btn.svg") no-repeat center/contain;
  background-color: #fff;
}

/* 비주얼 */
.visual {
  position: relative;
}
/* 슬라이드 */
.slide {
  position: relative;
}
/* 뉴스 */
.news {
  position: relative;
}
/* 하단 */
.footer {
  position: relative;
}
